<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">

<div class="container">
	<div class="row">
		<h2>Please in case of any support needed fill out the form</h2>
	</div>
  	<div class="row">

  		<div class="col-md-4">
			<form action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">

			<input type=hidden name="orgid" value="00D1r000002DCEr">
			<input type=hidden name="retURL" value="https://secure-island-28034.herokuapp.com/">

			<div class="form-group">
				<label for="name">Contact Name</label><input class="form-control" id="name" maxlength="80" name="name" size="20" type="text" /><br>
			</div>

			<div class="form-group">
				<label for="email">Email</label><input class="form-control" id="email" maxlength="80" name="email" size="20" type="text" /><br>
			</div>

			<div class="form-group">
				<label for="phone">Phone</label><input class="form-control" id="phone" maxlength="40" name="phone" size="20" type="text" /><br>
			</div>

			<div class="form-group">
				<label for="subject">Subject</label><input class="form-control" id="subject" maxlength="80" name="subject" size="20" type="text" /><br>
			</div>

			<div class="form-group">
				<label for="description">Description</label><textarea class="form-control" name="description"></textarea><br>
			</div>

			<div class="form-group">
		      <div class="actions">
				<input class="btn btn-primary" type="submit" name="submit">
				</div>
		    </div>

			</form>
		</div>
	</div>
</div>